USE [master]
GO
/****** Object:  Database [demo_db]    Script Date: 12/10/2025 6:56:14 PM ******/
CREATE DATABASE [demo_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'demo_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\demo_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'demo_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS02\MSSQL\DATA\demo_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demo_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [demo_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/10/2025 6:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FEEDBACK]    Script Date: 12/10/2025 6:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FEEDBACK](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[subject] [nvarchar](200) NOT NULL,
	[message] [nvarchar](2000) NOT NULL,
	[image_path] [nvarchar](500) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[is_read] [bit] NOT NULL,
	[admin_notes] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_FEEDBACK] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LKP_USER_GROUP]    Script Date: 12/10/2025 6:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LKP_USER_GROUP](
	[user_group_id] [int] IDENTITY(1,1) NOT NULL,
	[user_group_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_LKP_USER_GROUP] PRIMARY KEY CLUSTERED 
(
	[user_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 12/10/2025 6:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[user_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone_no] [nvarchar](11) NOT NULL,
	[user_group_id] [int] NOT NULL,
	[password_hash] [nvarchar](max) NOT NULL,
	[password_salt] [nvarchar](max) NOT NULL,
	[reset_token] [nvarchar](max) NULL,
	[reset_token_expiry] [datetime2](7) NULL,
	[created_date] [datetime2](7) NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_LOG]    Script Date: 12/10/2025 6:56:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_LOG](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[ip_address] [nvarchar](50) NOT NULL,
	[login_time] [datetime2](7) NOT NULL,
	[logout_time] [datetime2](7) NULL,
	[session_duration_minutes] [int] NULL,
	[user_agent] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_USER_LOG] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251202080639_InitialCreate', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251202090129_UpdateUserModel', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251210105938_AddUserLogAndFeedbackTables', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[LKP_USER_GROUP] ON 

INSERT [dbo].[LKP_USER_GROUP] ([user_group_id], [user_group_name]) VALUES (1, N'ADMIN')
INSERT [dbo].[LKP_USER_GROUP] ([user_group_id], [user_group_name]) VALUES (2, N'BWDP')
INSERT [dbo].[LKP_USER_GROUP] ([user_group_id], [user_group_name]) VALUES (3, N'CEGIS')
SET IDENTITY_INSERT [dbo].[LKP_USER_GROUP] OFF
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

SET IDENTITY_INSERT [dbo].[USER] OFF
GO
SET IDENTITY_INSERT [dbo].[USER_LOG] ON 

INSERT [dbo].[USER_LOG] ([log_id], [user_id], [ip_address], [login_time], [logout_time], [session_duration_minutes], [user_agent]) VALUES (1, 3, N'::1', CAST(N'2025-12-10T17:00:30.1590042' AS DateTime2), NULL, NULL, N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36')
INSERT [dbo].[USER_LOG] ([log_id], [user_id], [ip_address], [login_time], [logout_time], [session_duration_minutes], [user_agent]) VALUES (2, 2, N'::1', CAST(N'2025-12-10T17:04:18.9471384' AS DateTime2), NULL, NULL, N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36')
INSERT [dbo].[USER_LOG] ([log_id], [user_id], [ip_address], [login_time], [logout_time], [session_duration_minutes], [user_agent]) VALUES (3, 2, N'::1', CAST(N'2025-12-10T17:05:37.5876996' AS DateTime2), NULL, NULL, N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36')
SET IDENTITY_INSERT [dbo].[USER_LOG] OFF
GO
/****** Object:  Index [IX_FEEDBACK_user_id]    Script Date: 12/10/2025 6:56:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_FEEDBACK_user_id] ON [dbo].[FEEDBACK]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_user_group_id]    Script Date: 12/10/2025 6:56:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_USER_user_group_id] ON [dbo].[USER]
(
	[user_group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_USER_LOG_user_id]    Script Date: 12/10/2025 6:56:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_USER_LOG_user_id] ON [dbo].[USER_LOG]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FEEDBACK]  WITH CHECK ADD  CONSTRAINT [FK_FEEDBACK_USER_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
GO
ALTER TABLE [dbo].[FEEDBACK] CHECK CONSTRAINT [FK_FEEDBACK_USER_user_id]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [FK_USER_LKP_USER_GROUP_user_group_id] FOREIGN KEY([user_group_id])
REFERENCES [dbo].[LKP_USER_GROUP] ([user_group_id])
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [FK_USER_LKP_USER_GROUP_user_group_id]
GO
ALTER TABLE [dbo].[USER_LOG]  WITH CHECK ADD  CONSTRAINT [FK_USER_LOG_USER_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[USER] ([user_id])
GO
ALTER TABLE [dbo].[USER_LOG] CHECK CONSTRAINT [FK_USER_LOG_USER_user_id]
GO
USE [master]
GO
